<div class="p-grid">
  <p-card [style]="{width: '400px'}" class="p-offset-3">

    <div [formGroup]="form">
      <h3>Reset Password</h3>

      <p class="rm-align">Please enter your email address to request a password reset.</p>

      <div class="p-fluid p-formgrid">

        <div class="p-field p-col-12">
          <label for="email">Email Address</label>
          <input formControlName="email" type="email" id="email" pInputText  #passwordResetEmail required>
        </div>

        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="p-col-12">
          <button pButton type="submit" class="p-button-raised" label="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)"></button>
        </div>
      </div>
    </div>

        <p class="rm-align">Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></p>

  </p-card>
</div>
