:host ::ng-deep .p-password input {
  width: 15rem
}
.rm-align {
  text-align: center;
}

:host ::ng-deep .p-button {
  margin-right: .5rem;
}


:host ::ng-deep .sizes {
  .button {
    margin-bottom: .5rem;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
