<p-card [style]="{width: '400px'}">

  <div [style]="{width: '400%'}" styleClass="p-card-shadow">

    <h5>Login</h5>

    <div class="p-fluid p-formgrid">

      <div class="p-field p-col-12 p-md-3">
        <label for="firstname2">Firstname</label>
        <input id="firstname2" type="text" pInputText>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label for="password">Password</label>
        <p-password id="password" type="password" [toggleMask]="true"></p-password>
      </div>

      <div class="p-col-12 p-md-3">
        <button pButton class="p-button-raised" type="button" label="Login" ></button>
      </div>

    </div>

  </div>

  <p class="rm-align">Or login with</p>

  <div class="p-d-flex p-jc-center">

    <div class="p-field p-mr-2">
      <button pButton class="p-button-raised button-rm" type="button" label="Facebook"></button>
    </div>

    <div class="p-field p-mr-2">
      <button pButton class="p-button-raised p-button-danger button-rm" type="button" label="Gmail" ></button>
    </div>

  </div>

  <p class="rm-align">Not a member? Sign up now</p>

</p-card>
